SUITE_ULTRA_BASE_URL=https://suite.example.com
SUITE_ULTRA_QA_USERNAME=qa-user
SUITE_ULTRA_QA_PASSWORD=replace-locally
SUITE_ULTRA_QA_EXPIRED_FROM=
SUITE_ULTRA_QA_EXPIRED_TO=
SUITE_ULTRA_QA_FUNNEL_MONTH=
