<div [formGroup]="parentForm" class="subformulario-box">
  <h3>🏢 Reporte de Edificio</h3>

  <!-- Categoría -->
  <mat-form-field appearance="fill">
    <mat-label>🏷️ Categoría</mat-label>
    <mat-select formControlName="categoria" (selectionChange)="onCategoriaChange()">
      <mat-option value="">Seleccione</mat-option>
      <mat-option *ngFor="let categoria of getCategorias()" [value]="categoria">{{ categoria }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Subcategoría -->
  <mat-form-field appearance="fill" *ngIf="getSubcategorias(parentForm.get('categoria')?.value).length">
    <mat-label>🛠️ Subcategoría</mat-label>
    <mat-select formControlName="subcategoria" (selectionChange)="onSubcategoriaChange()">
      <mat-option value="">Seleccione</mat-option>
      <mat-option *ngFor="let sub of getSubcategorias(parentForm.get('categoria')?.value)" [value]="sub">{{ sub }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Detalle específico -->
  <mat-form-field appearance="fill" *ngIf="getSubsubcategorias(parentForm.get('categoria')?.value, parentForm.get('subcategoria')?.value).length">
    <mat-label>🧩 Detalle específico</mat-label>
    <mat-select formControlName="detalle">
      <mat-option value="">Seleccione</mat-option>
      <mat-option *ngFor="let detalle of getSubsubcategorias(parentForm.get('categoria')?.value, parentForm.get('subcategoria')?.value)" [value]="detalle">{{ detalle }}</mat-option>
    </mat-select>
  </mat-form-field>


  <!-- Descripción -->
  <mat-form-field appearance="fill" class="form-group-description">
    <mat-label>📋 Descripción del problema</mat-label>
    <textarea
      matInput
      formControlName="descripcion"
      class="descripcion-textarea"
      rows="4"
      placeholder="Detalla lo ocurrido con claridad...">
    </textarea>
  </mat-form-field>
</div>
