<!-- filter-date-range.component.html (sin filtros ni clases) -->
<mat-form-field appearance="fill">
  <mat-label>Seleccione un rango de fechas</mat-label>
  <mat-date-range-input [rangePicker]="picker" (dateChange)="onDateRangeChange()">
    <input matStartDate placeholder="Fecha inicio">
    <input matEndDate placeholder="Fecha fin">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker="matDateRangePicker">
    <mat-date-range-picker-actions>
      <button mat-button matDateRangePickerCancel>Borrar</button>
      <button mat-raised-button color="primary" matDateRangePickerApply>Aplicar</button>
    </mat-date-range-picker-actions>
  </mat-date-range-picker>
</mat-form-field>
