<!-- src/app/inventario/carga-masiva/pantalla-carga-masiva.component.html -->

<mat-card>
  <h2 class="text-2xl font-bold mb-4 text-center">Módulo de Carga Masiva</h2>
  <mat-tab-group>
    <mat-tab label="Catálogo">
      <ng-template matTabContent>
        <app-carga-masiva-archivo tipo="catalogo"></app-carga-masiva-archivo>
      </ng-template>
    </mat-tab>
    <mat-tab label="Existencias">
      <ng-template matTabContent>
        <app-carga-masiva-archivo tipo="existencias"></app-carga-masiva-archivo>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>
