@use '@angular/material' as mat;

@include mat.core();

// Define paletas claras
$my-primary: mat.define-palette(mat.$blue-grey-palette);
$my-accent: mat.define-palette(mat.$pink-palette);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn
  )
));

// Aplica este tema a todos los componentes de Angular Material
@include mat.all-component-themes($my-theme);
