<!-- pantalla-login.component.html -->


<div class="container">
  <div class="left">
      <form class="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div class="input-block">
              <input class="input" type="text" id="usuario-login" name="username" [(ngModel)]="username" required>
              <label for="usuario-login">Usuario</label>
          </div>
          <div class="input-block">
              <input class="input" type="password" id="password-login" name="password" [(ngModel)]="password" required>
              <label for="password-login">Contraseña</label>
          </div>
          <div class="input-block">
              
              <button type="submit" [disabled]="!loginForm.valid">Iniciar Sesión</button>
          </div>
      </form>
  </div>
  <div class="right">
      <div class="img">
          <!-- SVG o imagen decorativa -->
      </div>
  </div>
</div>

<p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
