<h2 mat-dialog-title>Editar Fecha de Solución</h2>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="w-full mb-2">
    <mat-label>Nueva fecha solución</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="nuevaFecha" autocomplete="off" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Motivo del cambio</mat-label>
    <textarea matInput rows="3" [(ngModel)]="motivo"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end" class="mt-2">
  <button mat-flat-button color="primary" (click)="guardar()" [disabled]="loading">
    Guardar
  </button>
  <button mat-button color="warn" (click)="cerrar()" [disabled]="loading">
    Cancelar
  </button>
</div>
