  <!-- frontend-angular\src\app\pantalla-crear-ticket\formularios-crear-ticket\formulario-dinamico.component.html -->


<form [formGroup]="parentForm" class="form-niveles">
  <div *ngFor="let nivel of niveles">
    <mat-form-field appearance="fill">
      <mat-label>{{ getLabel(nivel) }}</mat-label>
      <mat-select [formControlName]="getControlName(nivel)" (selectionChange)="onSeleccionar(nivel)">
        <mat-option value="">Seleccione {{ getLabel(nivel).toLowerCase() }}</mat-option>
        <mat-option *ngFor="let opcion of opcionesPorNivel(nivel)" [value]="opcion.id">
          {{ opcion.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
