<!-- modal-agregar-producto.component.html -->
<h2 mat-dialog-title class="titulo-modal">Agregar Nuevo Producto</h2>
<mat-dialog-content [formGroup]="form" class="form-modal">
  <mat-form-field appearance="outline" class="campo">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
  </mat-form-field>

  <mat-form-field appearance="outline" class="campo">
    <mat-label>Descripción</mat-label>
    <input matInput formControlName="descripcion">
  </mat-form-field>

  <mat-form-field appearance="outline" class="campo">
    <mat-label>Unidad</mat-label>
    <input matInput formControlName="unidad">
  </mat-form-field>

  <mat-form-field appearance="outline" class="campo">
    <mat-label>Categoría</mat-label>
    <input matInput formControlName="categoria" required>
    <mat-error *ngIf="form.get('categoria')?.hasError('required') && form.get('categoria')?.touched">
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="campo">
    <mat-label>Subcategoría</mat-label>
    <input matInput formControlName="subcategoria">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>
